.app {
  height: calc(100vh - 2rem);
  margin: auto;
  padding: 1rem;
}

.container {
  max-width: 1024px;
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 640px;
  }
}
